.container {
    width: 50%;
    margin: auto;
}
.head {
    height: 30px;
}
h2 {
    text-align: center;
}
.suggestion{
    width: 100%;
    border: solid black;
}
.comment {
    border: solid black;
}