<!doctype HTML>
<html>
<head>
    <link href="css/main.css" rel="stylesheet" />
    <script src="js/vendor/angular.min.js"></script>
    <script src="js/vendor/angular-route.min.js"></script>
</head>
<body ng-app="SuggestionBox">
    <div class="main" ng-controller="SuggestionBoxController">
        <div class="container">
            <div class="head">
                <h2>Suggestion Box</h2>
            </div>
            <div class="Suggestion Box" >
                <div ng-repeat="suggestion in suggestions">
                    <suggestion info="suggestion"></suggestion>
                </div>
                <input type="text" id="textbox"></input>
                <button ng-click="addSuggestion()">Submit</input>
            </div>
        </div>
    </div>
    <script src="js/app.js"></script>
    <script src="js/controllers/SuggestionBoxController.js"></script>
    <script src="js/directives/SuggestionDirective.js"></script>
</body>
